.form-field.success input {
  border: 2px solid #2ecc71;
}
.form-field.error input {
  border: 2px solid #e74c3c;
}

.form-field small {
  visibility: hidden;
}

.form-field.error small {
  visibility: visible;
  color: #e74c3c;
}
